body{
	font-family: 'Lato', sans-serif;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}

/* General
---------------------------------- */

.link{
	text-decoration: none;
	color:#4DBD33;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	padding: 4px;
}
.link:hover{
	background-color: #4DBD33;
	color: #fff;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

form{
	margin-top:40px;
}

.container{
	max-width:800px;
	width: 96%;
	margin:0 auto;
}

.success-text,
.success-payed-text{
	opacity: 0;
}

input{
	margin: 0 10px 10px 0;
}

input[type=text]{
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #efefef;
	font-size: 14px;
	height: 36px;
}
input[type=date]{
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #efefef;
	font-size: 14px;
	height: 36px;
}

input[type=submit]{
	background-color: #aaa;
	border: 0;
	height: 36px;
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	color:#fff;
	cursor: pointer;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
input[type=submit]:hover{
	background-color: #919191;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

/* game list styling
---------------------------------- */
.row div{
	float: left;
}
.row .date{
	width: 12%;
}
.row .home-away{
	width: 8%;
}
.row .opponent{
	width: 30%;
}
.row .win-loss{
	width: 5%;
}
.row .score{
	width: 5%;
}
.row .sox-pitcher{
	width: 20%;
}
.row .opposing-pitcher{
	width: 20%;
}


/* add game form
---------------------------------- */
fieldset{
	border: 0;
	position: relative;
	padding: 0;
	margin: 0 10px 10px 0;
	display: inline;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ccc;
    width: 40px;
    height: 36px;
    text-align: center;
}
input[type=radio] {  
    display: none;  
}

input[type=radio]:nth-of-type(1):checked + label {
    background-color: #002c5d;
    color: #fff;
}
input[type=radio]:nth-of-type(2):checked + label {
    background-color: #c02f35;
    color: #fff;
}



/* util
---------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */